body {
  padding-top: 50px;
  padding-bottom: 30px;
  /*background-color: #000000 !important;*/
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.studio {
    margin-left: 0px;
}

.navbar-header .navbar-brand {
    font-size: 200%;
    color: #C92E5D;
}

.pink-text {
    color: #C92E5D;
}

.black-text {
    color: #000000;
}

.white-text {
    color: #FFFFFF;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

.black-background {
    background-color: #000000;
}

.container {
    width: 100%;
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.vcenter {
    vertical-align: middle;
}
